* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
			/*fonts*/							
@font-face{
font-family:poppinsBold;
src:url('../fonts/Poppins-Bold.ttf');
}
@font-face{
font-family:poppinsLight;
src:url('../fonts/Poppins-Light.ttf');
}
@font-face{
font-family:poppinsMedium;
src:url('../fonts/Poppins-Medium.ttf');
}
@font-face{
font-family:poppinsRegular;
src:url('../fonts/Poppins-Regular.ttf');
}
			/* common styles for all sections starts */
h1,.banner-content span,#submit-btn{
	 font-family: poppinsBold;
}
nav ul li a,.banner-content h1,.about-us p,footer ul li a,.copy-right p{
	font-family:poppinsLight;
}
.course ul li a{
	font-family: poppinsMedium;
}
h3,p,h5{
	font-family: 'poppinsRegular';
}
h1 {
    font-size: 3em;
    text-align: center; 
    color: #2767b4;
}
h1:not(.no-space){
	line-height:3em;
}
h3 {
    font-size: 1.3em;
    color:#474747;
}
p {
    text-align:justify;
}
			/* common styles for all sections ends */

			/*header section styles starts*/
.logo img {
    width: 230px;
}
.navigation {
    display: flex;
    align-items: center;
    padding-top: 2em;
    width: 76%;
    margin: auto;
    position: absolute;
    left: 12em;
}
.logo {
    width: 33%;
}
nav {
    width: 70%;
}
nav ul {
    display: flex;
    gap: 45px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #18242c;
    font-size: 21px;
    
}
			/*header section styles ends*/

			/*banner section style starts*/
.banner-section {
    background: linear-gradient(178deg, #c3fdff, white);
    padding-top: 7em;
}
.banner {
    display: flex;
    justify-content: space-between;
    width: 89%;
    margin: auto;
}
.banner-content {
    display: flex;
    justify-content: right;
    align-items: center;
    width:47%;
}
.banner-image{
    width:48%;
}
.banner-content span {
    display: block;
    color: #f8861b;
   
}
.content h1 {
    line-height: 1.5em;
    text-align: left;
    color: #474747;
    font-weight: normal;
}
			/*banner section style ends*/

			/*About us section starts*/
.about-us p {
    font-size: 18px;
    color: #666666;
    text-align: justify;
    margin-bottom: 15px;
}
.about-us {
    width: 56%;
    margin: 1em auto 4em;
}

			/*About us section ends*/

			/* services & course section starts */
.services, .courses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 68%;
    margin: 2em auto 6em;
}
.service {
    border: 1px solid black;
    border-radius: 5px;
	width:30%;
}
.ams-service {
    padding: 1em;
}
.ams-service p{
    margin: 1em 0 2em;
}
.read-btn {
    background-color: #005bea;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em 4em;
}
.service .read-btn {
    margin: 1em 0 2em;
}
			/* services section ends */

			/*Featured courses starts*/
.course {
    border: 1px solid black;
    border-radius: 5px;
	width:30%;
}
.course h3{
    padding:1em 1em 0;
}
.course p {
    padding: 1em 1em 2rem;
}
.course p, .course li {
    border-bottom: 1px solid;
}
.course ul li a {
     text-decoration: none;
    color: black;
    font-size: 17px;
    padding-left: 1em;
}
.course ul {
    list-style: none;
    height: 8em;
    overflow: hidden;
}
.course ul li {
    padding: 8px 0;
}
.read-btn {
    margin: 3em 1em 2em;
}
.course ul:hover {
 overflow-y: scroll;
}



			/*Featured courses ends*/

			/*testimonials starts*/
.testimonials-section{
    background:url(../images/ams-testimonials-background.jpg) no-repeat 0px 0px;
    background-size:cover;
}

.profiles {
    background:url(../images/ams-testimonials-quotes-frame.png);
    background-size:cover;
    display: flex;
    width: 50%;
    position:relative;
    padding: 0 0 7em 0;
}
.profile-content {
    width: 60%;
    padding: 9em 0 0 5em;
}
.profile-photo {
    width: 38%;
    padding: 3.7em 1.5em;
}
.profile-photo h5 {
    color: #18242c;
    padding: 3em 0;
}
img.pin {
    position: absolute;
    right: 14%;
    top: -5px;
}
.student-profiles {
    display: flex;
    justify-content: center;
    padding: 4em 0 3em 0;
}
.slide-circles {
    width: 40%;
    margin: auto;
    text-align: end;
    position: relative;
    bottom: 5em;
}
.slide-circles span {
    display:inline-block;
    height: 21px;
    width: 21px;
    background-color: #c3c0c0;
    border-radius: 100%;
    margin: 8px;
}
			/*testimonials ends*/

			/*location section starts*/
iframe {
    width: 100%;
}
			/*location section ends*/

			/*contact us section starts*/
.contact-section {
    background: blue url(../images/ams-contact-us-background.jpg) no-repeat 0px 0px;
    text-align:center;
    background-size:cover;
}
.contact-us h1 {
    color: white;
}
.contact-us {
    padding: 2em 0;
}
.inputs {
    margin: 3.3em 0 0;
}
input {
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 35px;
    font-size: 17px;
    width: 28%;
    margin-bottom: 29px;
}
.submit-btn {
    margin: 1em 0 7em;
}
#submit-btn {
    background-color: #f8861b;
    font-size: 20px;
    padding: 12px 0px;
    width: 13%;
}
			/*contact us section ends*/
			/*footer starts*/
.footer-logo {
    width: 23%;
}
.menus,.policies,.social-media {
    width: 19%;
}
footer {
    background: #031323 url(../images/ams-footer-background.jpg) no-repeat 0px 0px;
     background-size:cover;
    color: #e7e7e8;
}
.information-title {
    padding: 2em 0;
}
footer h1 {
    color: white;
}
.information {
    display: flex;
    justify-content: space-around;
    width: 78%;
    margin: auto;
}
.menus, .policies, .social-media {
    padding: 3em 0 0 2em;
}
.footer-logo img {
    width: 200px;
    padding-bottom: 1em;
}
.footer-logo p {
    text-align: justify;
    color: #e7e7e8;
}
h5 {
    font-size: 20px;
    color: #f8861b;  
    padding-bottom: 1em;
}
footer ul li {
    padding: 3px 0;
}
footer ul {
    list-style: none;
}
footer ul li a {
    text-decoration: none;
    color: #e7e7e8;
}
.menus, .policies, .social-media {
    padding-top: 43px;
}
.information + div{
    display: flex;
    justify-content: center;
    padding: 7em 0 4em;
}
			/*footer ends*/
